<div class="jumbotron mt-5">
    <h2 class="heading">
        Filtra Noticias por País y Categoría
    </h2>
    <div class="row">
        <div class="col-lg-8 offset lg-8">
            <form>
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Categoría</label>
                    <select class="form-select form-select-lg" name="categoria">
                      <option>General</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Países</label>
                    <select class="form-select form-select-lg" name="pais">
                      <option>Cuba</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
            </form>
            <br> 
            <button class="btn btn-primary btn-block btn-lg mt-2">Buscar</button>
        </div>
    </div>
</div>